## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2022-08-10 22:01:58,-0.7393,-90.3518,70.56,91,83,8.01,broken clouds
1,1,Tuatapere,NZ,2022-08-10 22:02:22,-46.1333,167.6833,38.43,87,19,4.00,few clouds
2,2,Yar-Sale,RU,2022-08-10 22:01:53,66.8333,70.8333,47.32,73,15,6.35,few clouds
3,3,Ilulissat,GL,2022-08-10 22:02:08,69.2167,-51.1000,36.07,98,100,6.31,light rain
4,4,San Matias,BO,2022-08-10 22:06:49,-16.3667,-58.4000,64.60,34,0,4.21,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 69
What is the maximum temperature you would like for your vacation? 89

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2022-08-10 22:01:58,-0.7393,-90.3518,70.56,91,83,8.01,broken clouds
5,5,Hambantota,LK,2022-08-10 22:04:52,6.1241,81.1185,77.34,100,20,9.22,few clouds
6,6,Avarua,CK,2022-08-10 22:01:44,-21.2078,-159.7750,77.05,65,20,17.27,few clouds
10,10,North Bend,US,2022-08-10 22:03:43,43.4065,-124.2243,78.24,53,75,17.27,broken clouds
15,15,Kununurra,AU,2022-08-10 22:03:43,-15.7667,128.7333,73.38,27,18,8.05,few clouds
16,16,Beauvais,FR,2022-08-10 22:06:51,49.4167,2.0000,75.45,47,0,10.36,clear sky
19,19,Albany,US,2022-08-10 22:00:44,42.6001,-73.9662,79.66,62,12,6.29,few clouds
20,20,Yumen,CN,2022-08-10 22:02:45,40.2833,97.2000,75.74,38,3,9.84,clear sky
22,22,Trinidad,BO,2022-08-10 22:06:52,-14.8333,-64.9000,69.26,41,0,3.91,clear sky
23,23,Rikitea,PF,2022-08-10 22:01:42,-23.1203,-134.9692,73.31,72,91,21.14,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                317
City                   317
Country                317
Date                   317
Lat                    317
Lng                    317
Max Temp               317
Humidity               317
Cloudiness             317
Wind Speed             317
Current Description    317
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2022-08-10 22:01:58,-0.7393,-90.3518,70.56,91,83,8.01,broken clouds
5,5,Hambantota,LK,2022-08-10 22:04:52,6.1241,81.1185,77.34,100,20,9.22,few clouds
6,6,Avarua,CK,2022-08-10 22:01:44,-21.2078,-159.7750,77.05,65,20,17.27,few clouds
10,10,North Bend,US,2022-08-10 22:03:43,43.4065,-124.2243,78.24,53,75,17.27,broken clouds
15,15,Kununurra,AU,2022-08-10 22:03:43,-15.7667,128.7333,73.38,27,18,8.05,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
684,684,Mogadishu,SO,2022-08-10 22:06:34,2.0371,45.3438,76.08,85,100,18.25,light rain
687,687,Bolobo,CD,2022-08-10 22:09:37,-2.1667,16.2333,82.36,38,63,1.52,broken clouds
688,688,Marsassoum,SN,2022-08-10 22:09:38,12.8275,-15.9806,78.49,89,100,7.76,overcast clouds
690,690,Tunceli,TR,2022-08-10 22:09:38,39.1083,39.5471,76.39,27,0,4.41,clear sky
691,691,Samarai,PG,2022-08-10 22:03:03,-10.6167,150.6667,78.28,76,89,17.29,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,70.56,broken clouds,-0.7393,-90.3518,
5,Hambantota,LK,77.34,few clouds,6.1241,81.1185,
6,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,
10,North Bend,US,78.24,broken clouds,43.4065,-124.2243,
15,Kununurra,AU,73.38,few clouds,-15.7667,128.7333,
16,Beauvais,FR,75.45,clear sky,49.4167,2.0000,
19,Albany,US,79.66,few clouds,42.6001,-73.9662,
20,Yumen,CN,75.74,clear sky,40.2833,97.2000,
22,Trinidad,BO,69.26,clear sky,-14.8333,-64.9000,
23,Rikitea,PF,73.31,overcast clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].dropna(axis='index',how='any')
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,70.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Hambantota,LK,77.34,few clouds,6.1241,81.1185,Bungalow 63
6,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
10,North Bend,US,78.24,broken clouds,43.4065,-124.2243,Red Lion Hotel Coos Bay
15,Kununurra,AU,73.38,few clouds,-15.7667,128.7333,Hotel Kununurra

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))